.flexContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
  .projectBox {
    display: flex;
    height: 17.5vw;

    h3 {
      position: absolute;
      word-spacing: 5px;
      max-width: 400px;
      color: rgba($color: #efeff1, $alpha: 0.3);
      padding: 10px;
      transform: translate(0, -100%);
    }
    .box {
      width: 40vw;
      height: auto;
      overflow: hidden;
      color: #efeff1;
      outline: none;
      font-size: 16px;

      .hover {
        position: absolute;
        width: 89%;
        height: 17.5vw;
        background-color: #000;
        opacity: 0.7;

        img {
          width: 34px;
          height: 34px;
          padding: 10px;
          z-index: 2;
          position: absolute;
          left: 37vw;
          top: 2vh;
        }
      }

      .title {
        position: absolute;
        transform: translate(2vw, 13vw);
        padding: 5px 10px;
        background-color: #000;
        font-size: 1em;
        z-index: 1;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .lineVert {
      height: 22vw;
      background-color: rgba($color: #efeff1, $alpha: 0.06);
      width: 1px;
      transform: translate(0, -2.5vw);
    }
  }

  .line {
    height: 1px;
    background-color: rgba($color: #efeff1, $alpha: 0.06);
    width: 45vw;
    transform: translate(-2.5vw, 0);
  }
}

@media only screen and (max-width: 720px) {
  .flexContainer {
    .line {
      width: 220px;
    }
    .projectBox {
      h3 {
        font-size: 8px;
      }
      height: 100px;
      .lineVert {
        height: 118px;
      }
      .box {
        width: 200px;
        .title {
          font-size: 10px;
        }
      }
    }
  }
}
