.flexContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  .projectBox {
    display: flex;
    height: 17.5vw;
    max-height: 400px;
    max-width: 970px;

    h3 {
      position: absolute;
      word-spacing: 5px;
      max-width: 400px;
      color: rgba($color: #efeff1, $alpha: 0.3);
      padding: 10px;
      transform: translate(0, -100%);
    }
    .box {
      width: 40vw;
      max-width: 970px;
      height: auto;
      overflow: hidden;
      color: #efeff1;
      outline: none;
      font-size: 16px;

      .hover {
        position: absolute;
        width: 90%;
        height: 66%;
        background-color: rgba($color: #000, $alpha: 0.4);
        cursor: default;

        .linksHover {
          position: relative;
          top: 20%;
          left: 10%;
          a {
            color: #efeff1;
            font-size: 18px;
            background-color: #000;
            z-index: 2;
            padding: 10px 20px;
            margin-left: 10px;

            &:hover {
              color: #551a8b;
            }
            img {
              width: 34px;
              height: 34px;
              padding: 10px;
              z-index: 2;
              position: relative;
              top: 10px;
            }
          }
        }
      }

      .title {
        position: absolute;
        left: 10%;
        bottom: 40%;
        padding: 5px 10px;
        background-color: #000;
        font-size: 1em;
        z-index: 1;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .lineVert {
      height: 22vw;
      max-height: 520px;
      background-color: rgba($color: #efeff1, $alpha: 0.06);
      width: 1px;
      transform: translate(0, -2.5vw);
    }
  }

  .line {
    height: 1px;
    background-color: rgba($color: #efeff1, $alpha: 0.06);
    width: 45vw;
    max-width: 1120px;
    transform: translate(-2.5vw, 0);
  }
}

@media only screen and (max-width: 720px) {
  .flexContainer {
    .line {
      width: 233px;
    }
    .projectBox {
      h3 {
        font-size: 8px;
      }
      height: 100px;
      .lineVert {
        height: 120px;
      }
      .box {
        width: 210px;
        .hover {
          width: 230px;
          height: 70%;
          .linksHover {
            top: 5%;
            left: 5%;
            a {
              font-size: 8px;
              width: 30px;
              padding: 5px 5px;
              img {
                left: 3%;
                top: 15px;
              }
            }
          }
        }

        .title {
          font-size: 10px;
          left: 5%;
        }
      }
    }
  }
}
