@import '../../../styles/style.scss';
.showBox {
  width: 200px;
  height: 200px;

  img {
    width: 200px;
    height: 200px;
  }

  .hover {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
