@import '../../styles/style.scss';
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    padding: 20px 0;
    color: #efeff1;
    &:hover {
      color: #551a8b;
    }
  }
}
